.glass{
    width: 70%;
    background: linear-gradient(to right, rgba(255,255,255,0.1), rgba((255,255,255,0)));
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px 0 rgba(255,255,255,0.1);
    padding: 2rem;
    height: max-content;
    margin: auto;
    margin-top: 10rem;
}