

.nav {
  display: flex;
  justify-content: center;
  z-index: 1;
  
  
}

nav h1{
  cursor: pointer;
}

span {
  color: red;
}

nav {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  padding-left: 5rem;
  padding-right: 5rem;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba((255, 255, 255, 0))
  );
  backdrop-filter: blur(10px);
  height: 5rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5rem;
}

nav ul li {
  cursor: pointer;
  transition: all linear 0.2s;
}

nav ul li:hover{
  color: red;
}

nav ul button {
  background-color: transparent;
  padding: 0.7rem;
  border: 1px solid;
  border-radius: 5px;

  cursor: pointer;
  position: relative;
  transition: all linear 0.2s;
}

/* nav ul button::after{
    content: "";
    background: linear-gradient(to right, red);
    height: 100%;
    width: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: 150ms ease-in-out;
} */

nav ul button:hover {
  background-color: red;
  border: red solid 1px;
}
