* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  color: white;
  text-align: center;
  z-index: 5;
}

html {
  font-family: "Quicksand", sans-serif;
  min-height: 40rem;
  scroll-behavior: smooth;
}

.main {
  position: relative;
  background-image: url("../public/pic.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

main {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

section{
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
}

